* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Georgia, "Permanent Marker";
  font-size: 15px;
  color: #222222;
  line-height: 1.3;
}

.wrapper {
  margin: 0 auto;
  width:960px;
}

nav.top {
  background-color: #222222;
  display: block;
  width: 100%;
}

header a {
  color: white;
  display: block;
  float: left;
  padding: 20px;
  text-decoration: none;
}

header a:hover {
  background-color: #1FA2E1;
  color: #ffffff; 
  transition: all 0.2s;
}

section.hero {
  background-image: url("../images/photobanner.png");
  background-size: cover;
  height: 550px;
  width: 100%
}

blockquote {
  width: 960px;
}

h1 {
  display: block;
  font-family: "Permanent Marker";
  font-size: 40px;
  padding: 10px;
}

h2 {
  display: block;
  font-family: "Permanent Marker";
  font-size: 30px;
}

h3 {
  display: block;
  color: #cccccc;
  font-family: "Permanent Marker";
  font-size: 24px;
}

article {
  float: left;
  width: 290px;
}

footer {
  display: block;
}

.column1 {
  width: 210px;
}

.column2 {
  width: 400px;
}

.column3 {
  widows: 210px;
}

li {
  border-bottom: dashed 1px #666666;
  display: block;
}

#social {
  float: right;
}

 /*Utility clearing classes you may use. */
.clear {
  clear: both;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
